@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom */
html, body, #__next { height: 100%; }
body { background-color: #071228; color: #e6f0ff; }

/* small helper */
.hero-edge svg { display:block; }
